<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学生信息管理系统</title>
    <link type="text/css" rel="stylesheet" href="Public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="Public/css/table.css" />
    <script type="text/javascript" src="Public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="Public/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="Public/js/menu.js"></script>
</head>
<style type="text/css">
    body{
        background:url(Public/images/{$img_num}.jpg)  no-repeat center center !important;
        background-size:cover !important;
        background-attachment:fixed !important;
        background-color:#CCCCCC !important;
    }
</style>
<body>
<div class="top"></div>
<div id="header">
    <div class="logo" style="text-align: center;">学生信息管理系统</div>
</div>


