<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>学生信息管理系统</title>
    <link type="text/css" rel="stylesheet" href="Public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="Public/css/table.css" />
    <script type="text/javascript" src="Public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="Public/js/ajaxfileupload.js"></script>
    <script type="text/javascript" src="Public/js/menu.js"></script>
</head>

<body>
<div class="top"></div>
<div id="header">
    <div class="logo">学生信息管理系统</div>
    <div class="navigation">
        <ul>
            <li>欢迎您！</li>
            <li><a href="">{$admin_info['name']}</a></li>
            <li><a href="{:U('index/index')}">退出</a></li>
        </ul>
    </div>
</div>


