<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/chengji_list')}" method="post">
                &nbsp;&nbsp;&nbsp;课程：
                {$kecheng_html}
                学生：
                {$stu_html}
                <button>查询</button>
                <a href="{:U('index/add_chengji')}"  title="新增"><font color="black">新增<font></a>
                <input type="reset" value="重置条件">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="10%">序号</th>
                    <th width="15%">学生姓名</th>
                    <th width="15%">课程名称</th>
                    <th width="15%">成绩</th>
                    <th width="15%">学年</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.stu_name}</td>
                        <td>{$vo.kecheng_name}</td>
                        <td>{$vo.chengji}</td>
                        <td>{$vo.xuenian}</td>
                        <td>
                            <a href="{:U('index/add_chengji')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_chengji')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




