<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/criminal_case')}" method="post">
                &nbsp;&nbsp;姓名：  <input type="text" name="name"   value="{$postArr['name']}" size="24"  />
                身份证号码：  <input type="text" name="id_card"   value="{$postArr['id_card']}" size="24"  />
                案件处理机构：  <input type="text" name="company_name"   value="{$postArr['company_name']}" size="24"  />
                &nbsp;车险欺诈类型：
                {$fraud_type_html}
                <button>查询</button>
                <a href="{:U('index/add_criminal_case')}"  title="新增案件"><font color="black">新增案件<font></a>
                <input type="reset" value="重置条件">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="10%">PIN码</th>
                    <th width="6%">姓名</th>
                    <th width="10%">身份证号码</th>
                    <th width="20%">定损报告</th>
                    <th width="10%">车险欺诈类型</th>
                    <th width="10%">欺诈金额（元）</th>
                    <th width="14%">案件处理机构</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td><a href="{:U('index/look_case')}&pin_code={$vo.pin_code}">{$vo.pin_code}</a></td>
                        <td>{$vo.name}</td>
                        <td>{$vo.id_card}</td>
                        <td>{$vo.fee_report}</td>
                        <td>{$vo.fraud_type_name}</td>
                        <td>{$vo.fraud_amount}</td>
                        <td>{$vo.company_name}</td>
                        <td>
                            <a href="{:U('index/add_criminal_case')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_criminal_case')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




