<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/menu_list')}" method="post">
                &nbsp;&nbsp;&nbsp;项目：
                {$project_html}
                <button>查询</button>
                <a href="{:U('index/add_menu')}"  title="新增"><font color="red">新增顶级目录<font></a>
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="20%">菜单名称</th>
                    <th width="10%">排序值</th>
                    <th width="10%">是否显示</th>
                    <th width="15%">添加时间</th>
                    <th width="15%">修改时间</th>
                    <th width="30%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                {$table_html}
<!--                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td>{$vo.menu_name}</td>
                        <td>{$vo.menu_name}</td>
                        <td>{$vo.sort}</td>
                        <td>{$vo.add_time}</td>
                        <td>{$vo.update_time}</td>
                        <td>
                            <a href="{:U('index/add_menu')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_menu')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>-->
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




