<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/risk_car')}" method="post">
                &nbsp;&nbsp;车牌号码：  <input type="text" name="license_number"   value="{$postArr['license_number']}" size="24"  />
                &nbsp;车架编号：  <input type="text" name="chassis_number"   value="{$postArr['chassis_number']}" size="24"  />
                &nbsp;车辆型号：  <input type="text" name="vehicle_type"   value="{$postArr['vehicle_type']}" size="24"  />
                &nbsp;牌号种类：
                {$brand_type_html}
                &nbsp;车辆风险类型：
                {$fraud_type_html}
                <button>查询</button>
                <a href="{:U('index/add_risk_car')}"  title="新增"><font color="black">新增<font></a>
                <input type="reset" value="重置">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="10%">PIN码</th>
                    <th width="10%">车牌号码</th>
                    <th width="10%">牌号种类</th>
                    <th width="10%">车辆型号</th>
                    <th width="10%">车架编号</th>
                    <th width="10%">车辆风险类型</th>
                    <th width="20%">车辆风险上报原因</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td><a href="{:U('index/look_case')}&pin_code={$vo.pin_code}">{$vo.pin_code}</a></td>
                        <td>{$vo.license_number}</td>
                        <td>{$vo.brand_type_name}</td>
                        <td>{$vo.vehicle_type}</td>
                        <td>{$vo.chassis_number}</td>
                        <td>{$vo.fraud_type_name}</td>
                        <td>{$vo.risk_report}</td>
                        <td>
                            <a href="{:U('index/add_risk_car')}&id={$vo.id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_risk_car')}&id={$vo.id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




