<include file="Index:base" />
<div id="content">
    <div class="left_menu">
        <ul id="nav_dot">
            {$menu_html}
        </ul>
    </div>
    <div class="m-right">
        <div class="right-nav">
            <ul>
                <li><img src="Public/images/home.png"></li>
                <li style="margin-left:25px;">您当前的位置：</li>
                <li><a href="#">{$position_1}</a></li>
                <li>></li>
                <li><a href="#">{$position_2}</a></li>
            </ul>
        </div>
        <div class="main">
            <form name="search_form" action="{:U('index/xueji_list')}" method="post">
                &nbsp;&nbsp;&nbsp;学号：  <input type="text" name="xuehao"   value="{$postArr['xuehao']}" size="24"  />
                <button>查询</button>
                <a href="{:U('index/add_xueji')}"  title="新增"><font color="black">新增<font></a>
                <input type="reset" value="重置条件">
            </form>
            <table class="table" width="100%">
                <thead align="center">
                <tr>
                    <th width="5%">学号</th>
                    <th width="5%">姓名</th>
                    <th width="5%">性别</th>
                    <th width="5%">年龄</th>
                    <th width="6%">入学时间</th>
                    <th width="6%">毕业时间</th>
                    <th width="20%">操作</th>
                </tr>
                </thead>
                <tbody align="center">
                <volist name="list" id="vo" key="k" >
                    <tr>
                        <td>{$vo.xuehao}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.sex}</td>
                        <td>{$vo.age}</td>
                        <td>{$vo.ruxueshijian}</td>
                        <td>{$vo.biyeshijian}</td>
                        <td>
                            <a href="{:U('index/add_xueji')}&stu_id={$vo.stu_id}"  title="修改"><span>修改</span></a>
                            <a href="{:U('index/del_xueji')}&stu_id={$vo.stu_id}"  title="删除"><span>删除</span></a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
            <div class="pages" style="float:right;">
                {$page}
            </div>
        </div>
    </div>
</div>
<include file="Index:footer" />




